<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nilay.giftorganizer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="Giftive"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EditGiftActivity"></activity>
        <activity android:name=".EditPersonActivity" />
        <activity android:name=".addGiftActivity" />
        <activity android:name=".GiftItems" />
        <activity android:name=".AccountActivity.RegistrationActivity" />
        <activity android:name=".AccountActivity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".addPersonActivity"
            android:parentActivityName=".MainActivity" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1058895947598410~8563879014"/>
    </application>

</manifest>
    <!--android:value="ca-app-pub-1058895947598410~8563879014"-->

